In [1]:
import pandas as pd

In [2]:
# | Задание 44 |
# | --- |
# | В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. 
# Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [3]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  human
4  human

In [4]:
# Пример работы команды
pd.get_dummies(data['whoAmI']).head()

   human  robot
0      1      0
1      0      1
2      0      1
3      1      0
4      1      0

In [5]:
# Решение
def im_dummy (data, feature):
    for i in data[feature].unique():
        data[i] = (data[feature] == i).astype(int)
im_dummy(data,'whoAmI')
data[['human', 'robot']].head()

   human  robot
0      1      0
1      0      1
2      0      1
3      1      0
4      1      0